<section class="page-feedbacks">
  <div class="container feedbacks">
    <h2 class="feedbacks-title">Що говорять наші клієнти</h2>
    <ul class="feedbacks-list">
      <li class="feedbacks-item">
        <ul class="feedbacks-icon-tem">
          <li class="feedbacks-icon-list">
            <div>
              <svg class="feedbacks-icon" width="20" height="20">
                <use href="img/sprite.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li>
            <div>
              <svg class="feedbacks-icon" width="20" height="20">
                <use href="img/sprite.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li>
            <div>
              <svg class="feedbacks-icon" width="20" height="20">
                <use href="img/sprite.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li>
            <div>
              <svg class="feedbacks-icon" width="20" height="20">
                <use href="img/sprite.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li>
            <div>
              <svg class="feedbacks-icon" width="20" height="20">
                <use href="img/sprite.svg#icon-star"></use>
              </svg>
            </div>
          </li>
        </ul>

        <p class="feedbacks-text">
          Сумка дуже зручна та стильна, використовую щодня!
        </p>
        <p class="feedbacks-name">Анна</p>
      </li>

      <li class="feedbacks-item">
        <ul class="feedbacks-icon-tem">
          <li class="feedbacks-icon-list">
            <div>
              <svg class="feedbacks-icon" width="20" height="20">
                <use href="img/sprite.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li>
            <div>
              <svg class="feedbacks-icon" width="20" height="20">
                <use href="img/sprite.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li>
            <div>
              <svg class="feedbacks-icon" width="20" height="20">
                <use href="img/sprite.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li>
            <div>
              <svg class="feedbacks-icon" width="20" height="20">
                <use href="img/sprite.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li>
            <div>
              <svg class="feedbacks-icon black" width="20" height="20">
                <use href="img/sprite.svg#icon-star"></use>
              </svg>
            </div>
          </li>
        </ul>
        <p class="feedbacks-text">
          Відмінна якість матеріалів, приємно здивована.
        </p>
        <p class="feedbacks-name">Ігор</p>
      </li>
      <li class="feedbacks-item">
        <ul class="feedbacks-icon-tem">
          <li class="feedbacks-icon-list">
            <div>
              <svg class="feedbacks-icon" width="20" height="20">
                <use href="img/sprite.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li>
            <div>
              <svg class="feedbacks-icon" width="20" height="20">
                <use href="img/sprite.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li>
            <div>
              <svg class="feedbacks-icon" width="20" height="20">
                <use href="img/sprite.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li>
            <div>
              <svg class="feedbacks-icon" width="20" height="20">
                <use href="img/sprite.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li>
            <div>
              <svg class="feedbacks-icon black" width="20" height="20">
                <use href="img/sprite.svg#icon-star"></use>
              </svg>
            </div>
          </li>
        </ul>

        <p class="feedbacks-text">
          Сумка повністю відповідає опису, рекомендую!
        </p>
        <p class="feedbacks-name">Олена</p>
      </li>

      <li class="feedbacks-item">
        <ul class="feedbacks-icon-tem">
          <li class="feedbacks-icon-list">
            <div>
              <svg class="feedbacks-icon" width="20" height="20">
                <use href="img/sprite.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li>
            <div>
              <svg class="feedbacks-icon" width="20" height="20">
                <use href="img/sprite.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li>
            <div>
              <svg class="feedbacks-icon" width="20" height="20">
                <use href="img/sprite.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li>
            <div>
              <svg class="feedbacks-icon" width="20" height="20">
                <use href="img/sprite.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li>
            <div>
              <svg class="feedbacks-icon" width="20" height="20">
                <use href="img/sprite.svg#icon-star"></use>
              </svg>
            </div>
          </li>
        </ul>
        <p class="feedbacks-text">Швидка доставка та гарне обслуговування.</p>
        <p class="feedbacks-name">Сергій</p>
      </li>
    </ul>
  </div>
</section>
