<footer class="footer">
  <div class="container">
    <div>
      <div class="footer-logo">
        <a class="footer-logo-link" href="#">
          <svg class="icon-footer-logo" width="281" height="121">
            <use href="../img/sprite.svg#icon-footer_logo"></use>
          </svg>
        </a>
      </div>
      <ul class="footer-menu-list">
        <li class="footer-menu-list-icon">
          <a class="footer-about-us" href="#">Про нас</a>
        </li>
        <li>
          <a class="footer-advantages-link" href="#">Переваги</a>
        </li>
        <li>
          <a class="footer-assortment-link" href="#">Асортимент</a>
        </li>
        <li>
          <a class="footer-gallery-link" href="#">Галерея</a>
        </li>
        <li>
          <a class="footer-feedback-link" href="#">Відгуки</a>
        </li>
        <li>
          <a class="footer-contacts-link" href="#">Контакти</a>
        </li>
      </ul>
      <ul class="footer-media-list">
        <li class="footer-media-list-icon">
          <a class="footer-media-link" href="#">
            <svg class="footer-instagram" width="32" height="32">
              <use href="../img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-media-list-icon">
          <a class="footer-media-link" href="#">
            <svg class="footer-linkedin" width="32" height="32">
              <use href="../img/sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
        <li class="footer-media-list-icon">
          <a class="footer-media-link" href="#">
            <svg class="footer-youtube" width="32" height="32">
              <use href="../img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-contacts">
      <ul class="footer-contacts-list">
        <li class="footer-contacts-item">
          <a class="footer-contacts-link" href="tel:+38 (099) 909 11 22"
            >+38 (099) 909 11 22"</a
          >
        </li>
        <li class="footer-contacts-item">
          <a class="footer-contacts-link" href="mailto:hello@ecotote.com"
            >hello@ecotote.com</a
          >
        </li>
      </ul>
      <p class="footer-about-rules">© 2025 EcoTote. Всі права захищені.</p>
    </div>
  </div>
</footer>
