<section class="gallery">
  <div class="container">
    <div class="gallery-text-wrap">
      <h3 class="gallery-title">Галерея зображень</h3>
      <p class="gallery-desription">EcoTotes у повсякденному житті</p>
    </div>
    <ul class="gallery-ul">
      <li class="gallery-li img-1">
        <picture class="gallery-picture">
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/gallery/gallery-1-min.jpg    1x,
              /img/gallery/gallery-1@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/gallery-1-tablet-min.jpg    1x,
              /img/gallery/gallery-1-tablet@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/gallery/gallery-1-mobil-min.jpg    1x,
              /img/gallery/gallery-1-mobil@2x-min.jpg 2x
            "
          />
          <img
            class="gallery-image"
            src="/img/gallery/gallery-1-mobil-min.jpg"
            width="288"
            height="288"
            alt="handbag-1"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/gallery/gallery-2-min.jpg    1x,
              /img/gallery/gallery-2@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/gallery-2-tablet-min.jpg    1x,
              /img/gallery/gallery-2-tablet@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/gallery/gallery-2-mobil-min.jpg    1x,
              /img/gallery/gallery-2-mobil@2x-min.jpg 2x
            "
          />
          <img
            class="gallery-image"
            src="/img/gallery/gallery-2-mobil-min.jpg"
            width="288"
            height="288"
            alt="handbag-2"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/gallery/gallery-3-min.jpg    1x,
              /img/gallery/gallery-3@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/gallery-3-tablet-min.jpg    1x,
              /img/gallery/gallery-3-tablet@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/gallery/gallery-3-mobil-min.jpg    1x,
              /img/gallery/gallery-3-mobil@2x-min.jpg 2x
            "
          />
          <img
            class="gallery-image"
            src="/img/gallery/gallery-3-mobil-min.jpg"
            width="288"
            height="288"
            alt="handbag-3"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/gallery/gallery-4-min.jpg    1x,
              /img/gallery/gallery-4@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/gallery-4-tablet-min.jpg    1x,
              /img/gallery/gallery-4-tablet@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/gallery/gallery-4-mobil-min.jpg    1x,
              /img/gallery/gallery-4-mobil@2x-min.jpg 2x
            "
          />
          <img
            class="gallery-image"
            src="/img/gallery/gallery-4-mobil-min.jpg"
            width="288"
            height="288"
            alt="handbag-4"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
