<section class="gallery" id="gallery">
  <div class="container">
    <h2 class="gallery-title">Галерея зображень</h2>
    <p class="gallery-desription">EcoTotes у повсякденному житті</p>
    <ul class="gallery-ul">
      <li class="gallery-li img-1">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/gallery/gallery-2-min.webp    1x,
              /img/gallery/gallery-2@2x-min.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/gallery-2-tablet-min.webp    1x,
              /img/gallery/gallery-2-tablet@2x-min.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/gallery/gallery-2-mobil-min.webp    1x,
              /img/gallery/gallery-2-mobil@2x-min.webp 2x
            "
          />
          <img
            class="gallery-image"
            src="/img/gallery/gallery-2-mobil-min.webp "
            width="288"
            height="288"
            alt="handbag-2"
          />
        </picture>
      </li>

      <li class="gallery-li img-2">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/gallery/gallery-3-min.webp    1x,
              /img/gallery/gallery-3@2x-min.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/gallery-3-tablet-min.webp    1x,
              /img/gallery/gallery-3-tablet@2x-min.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/gallery/gallery-3-mobil-min.webp    1x,
              /img/gallery/gallery-3-mobil@2x-min.webp 2x
            "
          />
          <img
            class="gallery-image img-3"
            src="/img/gallery/gallery-3-mobil-min.webp "
            width="288"
            height="288"
            alt="handbag-3"
          />
        </picture>
      </li>
      <li class="gallery-li">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/gallery/gallery-4-min.webp    1x,
              /img/gallery/gallery-4@2x-min.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/gallery-4-tablet-min.webp    1x,
              /img/gallery/gallery-4-tablet@2x-min.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/gallery/gallery-4-mobil-min.webp    1x,
              /img/gallery/gallery-4-mobil@2x-min.webp 2x
            "
          />
          <img
            class="gallery-image"
            src="/img/gallery/gallery-4-mobil-min.webp "
            width="288"
            height="288"
            alt="handbag-4"
          />
        </picture>
      </li>
      <li class="gallery-li img-4">
        <picture class="gallery-picture">
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/gallery/gallery-1-min.webp    1x,
              /img/gallery/gallery-1@2x-min.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/gallery-1-tablet-min.webp    1x,
              /img/gallery/gallery-1-tablet@2x-min.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/gallery/gallery-1-mobil-min.webp    1x,
              /img/gallery/gallery-1-mobil@2x-min.webp 2x
            "
          />
          <img
            class="gallery-image"
            src="/img/gallery/gallery-1-mobil-min.webp "
            width="288"
            height="288"
            alt="handbag-1"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
