<section class="hero">
  <div class="hero-container container">
    <div class="hero-text-block">
      <h2 class="hero-title">EcoTote — Стиль, що не шкодить планеті</h2>
      <div class="hero-block">
        <p class="hero-text">
          Екологічні сумки для тих, хто дбає про майбутнє. Обирайте стиль та
          відповідальність разом з EcoTote.
        </p>
        <a href="#assortment" class="button hero-button"> Купити зараз </a>
      </div>
    </div>
    <picture>
      <source
        media="(max-width: 767px)"
        srcset="
          /img/hero/hero-mobil-min.jpg    1x,
          /img/hero/hero-mobil@2x-min.jpg 2x
        "
      />
      <source
        media="(min-width: 768px) and (max-width: 1439px)"
        srcset="
          /img/hero/hero-tablet-min.jpg    1x,
          /img/hero/hero-tablet@2x-min.jpg 2x
        "
      />
      <source
        media="(min-width: 1440px)"
        srcset="/img/hero/hero-min.jpg 1x, /img/hero/hero@2x-min.jpg 2x"
      />
      <img
        class="hero-img"
        src="/img/hero/hero-min.jpg"
        alt="image hero"
        loading="lazy"
      />
    </picture>
  </div>
</section>
