<section class="support">
  <div class="container">
    <div>
      <h3 class="">Залишились питання? Зв'яжіться з нами!</h3>
      <p class="">Ми тут, щоб допомогти!</p>

      <form class="">
        <label for="user-name" class=""
          >Ім'я
          <input
            type="text"
            class=""
            name="user-name"
            id="user-name"
            placeholder="Іван"
          />
        </label>
        <label for="user-email" class=""
          >Електронна пошта
          <input
            type="email"
            class=""
            name="user-email"
            id="user-email"
            placeholder="hello@ecotote.com"
          />
        </label>
        <label for="user-message" class=""
          >Повідомлення
          <textarea
            class=""
            name="user-message"
            id="user-message"
            placeholder="Введіть своє повідомлення..."
          ></textarea>
        </label>
        <button class="" type="submit">Надіслати</button>
      </form>
    </div>
    <div>
      <img src="" alt="" />
    </div>
  </div>
</section>
