.about-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  margin-bottom: 12px;
}

.about-subtitle {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.about-text {
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #fff;
}

.about {
<<<<<<< about-html
  background-image: url(/img/about/about-mobil-min.jpg);
  max-width: 1440px;
  background-color: #2e2f42;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding: 64px 0;
}

@media screen and (min-resolution: 2x) {
  .about {
    background-image: url(/img/about/about-mobil@2x-min.jpg);
  }
=======
>>>>>>> main
}
