.adv-subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    /* padding-top: 64px; */
    padding-top: 32px;
    /* padding-bottom: 16px; */
    padding-bottom: 12px;
}

.adv-title {
  font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    /* font-size: 48px; */
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    /* padding-bottom: 24px; */
    padding-bottom: 20px;
}

.adv-dscr {
    font-weight: 400;
    /* font-size: 18px; */
    font-size: 16px;
    line-height: 1.6;
    max-width: 768px;
    /* padding-bottom: 80px; */
    padding-bottom: 48px;
}

.adv-item-title {
  font-family: "Comfortaa",
      sans-serif;
    font-weight: 700;
    /* font-size: 32px; */
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    width: 100%;
    /* padding-top: 32px; */
    padding-top: 8px;
    /* padding-bottom: 24px; */
    padding-bottom: 4px;
}

.adv-item-dscr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    /* padding-bottom: 64px; */
}

 /* width: calc((100% - 24px) / 3); */

 /* .adv-list {
  display: inline-flex;
  gap: 24px;
}

.adv-list-item {
  width: calc((100% - 24px) / 3);
} */
.adv-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  margin-bottom: 32px;

}

.adv-img {
  border-radius: 32px;
}
