@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* 
Для роботи анімації задати класи для клікабельних елементів:
      1. посилань -                                          .global-link 
      2. кнопки текстові на чорному фоні-                    .global-black-btn
      3. кнопки текстові на прозорому фоні                   .global-transparent-btn
      4. кнопки текстові на прозорому фоні без бордера       .global-btn
      5. контейнери іконок на чорному фоні                   .global-black-icon-btn
      6. контейнери іконок на прозорому фоні                 .global-transparent-icon-btn
      7. контейнери іконок на прозорому фоні без бордера......global-icon-btn
      8. іконкам..............................................global-icon
      9. контейнери логотипів.................................global-logo
      10.логотип..............................................global-logo-icon
      11. ефект збільшення при hover...........................global-box
    
  */

/*--посилання--*/
.global-link {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.global-link:hover,
.global-link:focus {
  opacity: 0.5;
}

.global-link:active {
  opacity: 0.6;
  color: rgba(0, 0, 0, 0.2);
}

/*--кнопки текстові на чорному фоні--*/
.global-black-btn {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.global-black-btn:hover,
.global-black-btn:focus {
  opacity: 0.5;
}

.global-black-btn:active {
  background-color: #113916;
  border-color: #113916;
  opacity: 0.6;
}

.global-black-btn:disabled {
  opacity: 0.2;
}

/*--кнопки текстові на прозорому фоні-- */
.global-transparent-btn {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.global-transparent-btn:hover,
.global-transparent-btn:focus {
  opacity: 0.5;
}

.global-transparent-btn:active {
  color: #113916;
  border-color: #113916;
  opacity: 0.6;
}

.global-transparent-btn:disabled {
  opacity: 0.2;
}

/*--кнопки текстові на прозорому фоні без бордера-- */
.global-text-btn {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.global-text-btn:hover,
.global-text-btn:focus {
  opacity: 0.5;
}

.global-text-btn:active {
  color: #113916;
  opacity: 0.6;
}

.global-text-btn:disabled {
  opacity: 0.2;
}

/*--кнопки з іконками на чорному фоні--*/
.global-black-icon-btn {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.global-black-icon-btn:hover,
.global-black-icon-btn:focus {
  opacity: 0.5;
}

.global-black-icon-btn:active {
  background-color: #113916;
  border-color: #113916;
  opacity: 0.6;
}

.global-black-icon-btn:disabled {
  opacity: 0.2;
}

/*--кнопки з іконками на прозорому фоні-- */
.global-transparent-icon-btn {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.global-transparent-icon-btn:hover,
.global-transparent-icon-btn:focus {
  opacity: 0.5;
}

.global-transparent-icon-btn:active {
  fill: #113916;
  border-color: #113916;
  opacity: 0.6;
}

.global-transparent-icon-btn:disabled {
  opacity: 0.2;
}

/*--кнопки з іконками на прозорому фоні без бордера -- */
.global-icon-btn {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.global-icon-btn:hover,
.global-icon-btn:focus {
  opacity: 0.5;
}

.global-icon-btn:active {
  opacity: 0.6;
}

.global-icon-btn:disabled {
  opacity: 0.2;
}

/*--всі іконкі--*/

.global-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.global-transparent-icon-btn:hover .global-icon,
.global-transparent-icon-btn:focus .global-icon,
.global-icon-btn:hover .global-icon,
.global-icon-btn:focus .global-icon {
  opacity: 0.5;
}

.global-transparent-icon-btn:active .global-icon,
.global-icon-btn:active .global-icon {
  fill: #113916;
  opacity: 0.6;
}

.global-transparent-icon-btn:disabled .global-icon,
.global-icon-btn:disabled .global-icon {
  opacity: 0.2;
}

/*--всі логотипи--*/
.global-logo-icon {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.global-logo:hover .global-logo-icon,
.global-logo:focus .global-logo-icon {
  opacity: 0.5;
}

.global-logo:active .global-logo-icon {
  opacity: 0.6;
}

/*--ефект виділення--*/
/* .lift-on-hover {
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.lift-on-hover:hover,
.lift-on-hover:focus {
  transform: scale(1.05);
} */

/* -- ефект при наведенні на іконки соцмереж */

.footer-social-link {
  transition: transform 0.3s ease;
}

.footer-media-link:hover .footer-social-link {
  transform: scale(1.2);
}

/*--ефект виділення--*/
.global-box {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.global-box:hover,
.global-box:focus {
  scale: (1.1);
  box-shadow: 1.05em 10px;
  transform: scale(1.05) translateY(-4px);
  box-shadow: 0 8px 16px #113916;
}

/* плавний скрол */
html {
  scroll-behavior: smooth; /* ⬅️ робить плавний скрол */
}

section {
  /* padding: 100px;
  margin-bottom: 50px;
  background-color: #f0f0f0; */
  outline: 3px solid transparent; /* щоб не стрибало при появі outline */
  transition: outline-color 0.5s ease, background-color 0.5s ease;
}

section:target {
  /* outline-color: lime; */
  background-color: #e0ffe0;
  scroll-margin-top: 64px;
}
@media screen and (min-width: 1440px) {
  section:target {
    scroll-margin-top: 71px;
  }
}
