.assortment {
  padding-top: 32px;
  padding-bottom: 32px;
}

.assortment-title {
  font-family: 'Comfortaa', sans-serif;
  min-width: 218px;
  margin: 0 auto 24px auto;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.bags-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding: 0;
  margin: 0 auto;
  justify-content: center;
}

.bags-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: transparent;
  transition: box-shadow 250ms ease;
}

.bags-image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 32px;
  background: transparent;
  margin-bottom: 16px;
}

.bag-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
  padding: 0 16px;
}

.bags-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
}

.bags-description {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 8px;
}

.bags-price {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0;
  line-height: 1.6;
}

.bags-button {
  width: 100%;
  margin-top: 16px;
  padding: 12px 24px;
  border: 1px solid #030a06;
  border-radius: 6px;
  background-color: transparent;
  font-size: 16px;
  transition: opacity 200ms ease, color 200ms ease, border-color 200ms ease;
  line-height: 1.6;
  cursor: pointer;
  color: #030a06;
}

.bags-button:hover,
.bags-button:focus {
  opacity: 0.5;
}

.bags-button:active {
  color: #113916;
  border-color: #113916;
}

@media screen and (min-width: 768px) {
  .bags-list {
    gap: 24px 24px;
  }

  .bags-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1440px) {
  .assortment {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .bags-list {
    gap: 32px 24px;
  }

  .bags-item {
    width: calc((100% - 72px) / 4);
  }

  .assortment-title {
    font-size: 48px;
  }
}
