.page-feedbacks {
  padding-top: 32px;
  padding-bottom: 32px;
}

.feedbacks-title {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 32px;
}

.feedbacks-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.feedbacks-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.feedbacks-icon-tem {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.feedbacks-icon {
  fill: #3ac04c;
}

.feedbacks-icon.black {
  fill: #030a06;
}

.feedbacks-text {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.01em;
}

.feedbacks-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6;
}

@media screen and (min-width: 768px) {
  .page-feedbacks {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .feedbacks-item {
    gap: 24px;
  }

  .feedbacks-list {
    column-gap: 24px;
    row-gap: 32px;
  }

  .feedbacks-item {
    max-width: 340px;
  }
}

@media screen and (min-width: 1440px) {
  .feedbacks {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .feedbacks-title {
    max-width: 560px;
    text-align: center;

    /* margin: 0 auto; */
    font-size: 48px;
    margin-bottom: 80px;
  }

  .feedbacks-item {
    max-width: 310px;
  }
}
