.footer {
  padding: 48px 0;
  background-color: #75d281;
  text-align: center;
}
.footer .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer a {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer a:hover,
.footer a:focus {
  opacity: 0.5;
  outline: none;
}

.footer a:active {
  color: #113916;
  opacity: 0.6;
}
.footer-first-part {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer-logo-link {
  display: inline-block;
  padding-bottom: 48px;
}
.icon-footer-logo {
  width: 280px;
  height: 121px;
  fill: #030a06;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 48px;
  gap: 32px;
}
.footer-list-link {
  display: block;
  font-size: 16px;
  line-height: 1.6;
}
.footer-media-list {
  padding-bottom: 48px;
  display: flex;
  gap: 12px;
}
.footer-media-link {
  display: block;
}
.footer-second-part {
  padding-top: 24px;
  padding-bottom: 16px;
  border-top: 1px solid rgba(3, 10, 6, 0.15);
}
.footer-contacts {
  margin-bottom: 24px;
}
.footer-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-contacts-link {
  display: block;
  font-size: 16px;
  line-height: 1.6;
  font-style: normal;
}
.footer-about-rules {
  font-size: 16px;
  line-height: 1.6;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 64px 0;
  }
  .footer .container {
    max-width: 768px;
    margin: 0 auto;
  }
  .footer-logo-link {
    padding-bottom: 32px;
  }
  .icon-footer-logo {
    width: 164px;
    height: 70px;
  }
  .footer-menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 32px;
    gap: 32px;
    white-space: nowrap;
  }
  .footer-media-list {
    padding-bottom: 24px;
  }
  .footer-second-part {
    width: 100%;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 0;
  }
  .footer-contacts-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    white-space: nowrap;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    padding: 80px 0;
  }
  .footer .container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .footer-first-part {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    gap: 32px;
    margin-bottom: 52px;
  }
  .footer-logo-link {
    padding-bottom: 0;
  }
  .footer-menu-list {
    padding-bottom: 0;
  }
  .footer-media-list {
    padding-bottom: 0;
  }
  .footer-second-part {
    width: 100%;
    margin: 0 auto;
  }
}
