.gallery {
  background: #ebf8ed;
  padding-top: 32px;
  padding-bottom: 32px;

  display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    /* gap: 32px; */
}

.gallery-text-wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 16px;
  margin-bottom: 32px;
}

.gallery-title {
font-family: "Comfortaa",
sans-serif;

font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #030a06;
}

.gallery-desription {
  font-family: "Fira Sans", sans-serif;
font-weight: 400;
font-size: 18px;
line-height: 1.6;
text-align: center;
color: #030a06;
}

.gallery-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.gallery-image {
  border-radius: 32px;
  overflow: hidden;
}

.img-1 {
  order: 4;
}