.support {
  padding-top: 32px;
  padding-bottom: 32px;
}

.support-title {
  font-family: 'Comfortaa', sans-serif;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #030a06;
  margin-bottom: 24px;
}
.support-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: #030a06;
  margin-bottom: 32px;
}
.support-input-label {
  font-size: 16px;
  line-height: 1.6;
  color: #030a06;
  margin-bottom: 8px;
}
.support-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
}
.support-input,
.support-textarea {
  width: 100%;
  height: 42px;
  font-size: 16px;
  outline: none;
  display: block;
  border: 1px solid rgba(3, 10, 6, 0.15);
  border-radius: 6px;
  padding: 8px 12px;
  background-color: rgba(3, 10, 6, 0.05);
}
.support-textarea {
  height: initial;
}

.support-input::placeholder,
.support-textarea::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: rgba(3, 10, 6, 0.6);
}
.support-input:not(:placeholder-shown):invalid {
  border-color: red;
}
.support-input:not(:placeholder-shown):valid {
  border-color: green;
}
.support-button {
  height: 50px;
  border: 1px solid #030a06;
  border-radius: 6px;
  background-color: #030a06;
  color: #fff;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
}
.support-button:hover,
.support-button:focus {
  opacity: 0.5;
}
.support-button:active {
  background-color: #113916;
  opacity: 0.6;
}
.support-button:disabled {
  opacity: 0.2;
}

.support-bacground-picture {
  height: 428px;
  border-radius: 40px;
  background-image: url(../img/support/support-mobil-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-resolution: 2x) {
  .support-bacground-picture {
    background-image: url(../img/support/support-mobil@2x-min.jpg);
  }
}
/* TABLET */
@media screen and (min-width: 768px) {
  .support {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .support-title {
    max-width: 468px;
  }
  .support-button {
    align-self: flex-start;
    min-width: 249px;
  }
  .support-bacground-picture {
    background-image: url(../img/support/support-tablet-min.jpg);
  }
  @media screen and (min-resolution: 2x) {
    .support-bacground-picture {
      background-image: url(../img/support/support-tablet@2x-min.jpg);
    }
  }
}
/* DESCTOP */
@media screen and (min-width: 1440px) {
  .support-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
  }
  .support-form-wrapper {
    flex: 1;
    max-width: 50%;
    display: flex;
    flex-direction: column;
  }
  .support-bacground-picture {
    background-image: url(../img/support/support-min.jpg);
    flex: 1;
    max-width: 50%;
    width: 100%;
    height: 767px;
  }
  @media screen and (min-resolution: 2x) {
    .support-bacground-picture {
      background-image: url(../img/support/support@2x-min.jpg);
    }
  }
  .support-title {
    font-size: 48px;
    max-width: 644px;
  }
  .support-form {
    margin: 0;
  }
  .support-button {
    min-width: 198px;
  }
}
